
#header-nav{
    background-color: purple;
    border: 0;
    border-radius: 0;

}
#logo-image{
    background-image: url(../image/logo.png);
    background-repeat: no-repeat;
    float: left;
    width: 200px;
    height: 160px; 
    margin: 15px 10px 10px 0px;
}

.navbar-brand h1{
    font-family: 'lora',serif;
    color: #f02486;
    /*color: #071e73;*/
    font-size: 1.9em;
    test-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 50px;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand p{
    color: #5B1B3A;
    line-height: 2.5;
    font-size: .8em;
}
/*coading nav menu buttons*/

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #071e73;
}
.navbar-header button.navbar-toggle{
    clear: both;
    margin-top: 30px;
}


/*fixing navbar layout , text and dropdown menu*/
@media(min-width: 1200px){
    .container .jumbotron{
    background-image: url(../image/enterence/IMG-20201215-WA0024.jpg);
    background-repeat: no-repeat;
    height: 450px;
    }
    /*large device*/
}


@media(min-width: 992px)and (max-width: 1199px){
    /*medium device*/
    #logo-image{
        background-image: url(../image/logo.png) no-repeat;
        width: 200px;
        height: 200px;
        margin: 15px 10px 10px 0px;
    }
    .container .jumbotron{
        background-image: url(../image/enterence/IMG-20201215-WA0041.jpg);
    background-repeat: no-repeat;
    height: 450px;
    }

}
@media(min-width: 768px)and (max-width: 991px){
     #logo-image{
        background-image: url(../image/logo.png) no-repeat;
        width: 200px;
        height: 200px;
        margin: 15px 10px 10px 0px;
    }
}
@media(max-width: 767px ){
    /*extra small device*/
    .navbar-brand{
        padding-top: 10px;
        height: 150px;
    }
    .navbar-brand h1{
        padding-top: 10px;
        font-size: 5vm;
    }
    .navbar-brand p{
        font-size: .6em;
        margin-top: 12px;
    }
    
}

#bs-example-navbar-collapse-1 a {
    font-size: 1.2em;
}
/*#bs-example-navbar-collapse-1 a span{
    font-size: 1em;
}*/
 
.row img{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.container .jumbotron{
    
   
    padding: 0px;
    margin-top: 30px;
    box-shadow: 0 0 50px #f02486;
    border: 2px solid #f02486;
}
/*.inner span{
    align-content: center;
    color: #f02486;
    size: 30px;
}
.inner #subt {
    text-align: center;
    font-size: 1.2em;
    font-family: 'lora',serif;
    font-weight: bold;
    color: orange;
}
.inner p{
    text-align: center;
    font-size: 2em;
    font-family: 'lora',serif;
    font-weight: bold;
    color: black;
}
*/
#gallary , #services, #contact{
    height: 225px;
    width: 100%;
    margin-bottom: 0px;
    position: relative;
    border: 2px solid #3f0clf;
    overflow: hidden;
}
#gallary:hover , #services: hover, #contact:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}
#gallary span , #services span, #contact span{
    position: absolute;
    bottom: 0;
    right: 80px ;
    width: 60%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #f02486;
    color: white;
}

/*panner-footer*/
.panner-footer{
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;

}
.panner-footer div.row{
    margin-bottom: 35px;
}
#hours , #address
{
    line-height: 2;
}
#hours>span , #address>span{
    font-size: 1.3em;
}
#address p{
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
}
#testimonials{
    font-style: italic;
}